@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    @apply  h-screen pl-8 w-15% text-white bg-bgsideColor rounded-r-sideRad fixed
}
.sidebar li a{
    @apply pl-4
}
.sidebar li{
    @apply mt-[10px] 
}
.navside{
    @apply flex ml-17% h-63pix justify-between pl-30% items-center bg-white py-1 border-red-500 border-b-4
}
.bodyGen{
    @apply w-full h-1024pix
}
.bodyContent{
    @apply  w-83% ml-17% pr-10
}

.sideText{
    @apply pr-16 mr-0 hover:text-red-400 active:text-red-400 hover:bg-bodyColor active:bg-bodyColor active:rounded-l-3xl
    }
.referral{
    @apply flex justify-between items-center mb-4 mt-3
}

/* select option:hover{
    @apply bg-white
} */
    
.active {
    @apply bg-bodyColor text-bodyColors py-2
}
.active img{
     filter: invert(52%) sepia(53%) saturate(6701%) hue-rotate(329deg) brightness(100%) contrast(101%);
};
::selection{
    background: white;
    color: black;
    /* outline: none; */
}
select option:hover{
    background-color: white;
    color: red;
    /* outline: none; */
}
select option {
    margin: 40px;
    background: white;
    /* background: rgba(0, 0, 0, 0.3); */
    /* color: red; */
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.tPage4 td{
    @apply pb-5
}
.tPage4 td::first-line{
    @apply pt-5
}

.tPage4 input, select{
    @apply pl-6
}


.select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
}
.select:focus, .select:hover{
    outline: none;

}

.sidebar ul li b:nth-child(1){
    position: absolute;
    top: -23px;
    height: 23px;
    width: 100%;
    z-index: -1;
    background:  rgb(255 216 220);
    display: none;
}
.sidebar ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 180px;
    background-color: rgb(255 61 81 / var(--tw-bg-opacity));
}
.sidebar ul li b:nth-child(2){
    position: absolute;
    bottom: -23px;
    height: 23px;
    width: 100%;
    background: rgb(255 216 220);
    display: none;
}
.sidebar ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 180px;
    background: rgb(255 61 81 / var(--tw-bg-opacity));
}
ul li.active b:nth-child(1),
ul li.active b:nth-child(2){
    display: block;
}

.page7Table table .AMo {
    @apply pr-6
}
.page7Table table td{
    @apply pl-4
}

.page7Table table .pA{
    @apply pr-20
}
