@tailwind base;
@tailwind components;
@tailwind utilities;

aside{
    @apply h-screen pl-8 w-15%  text-white bg-bgsideColor rounded-r-sideRad fixed
}
.sidebar li a{
    @apply pl-4
}
.sidebar li{
    @apply mt-[10px] 
}
#toggle{
    @apply w-8 h-8 bg-bodyColors text-white flex items-center justify-center
}
.navside{
    @apply flex ml-17% h-63pix justify-between  pl-10 items-center bg-white py-1 border-red-500 border-b-4
}
.navside select{
    @apply bg-white
}
#side2 {
    @apply w-[85%]
}
.bodyGen{
    @apply w-full h-1024pix
}
.bodyContent{
    @apply  w-83% ml-17% pr-10
}

.sideText{
    @apply pr-16 mr-0 hover:text-red-400 active:text-red-400 hover:bg-bodyColor active:bg-bodyColor active:rounded-l-3xl
    }
.referral{
    @apply relative mb-4 mt-3 pb-8
}
.myreferral .img-r{
    @apply  inline h-10b pl-36 pr-5
}
.myreferral{
    @apply absolute left-80 top-1  w-1/2 h-27pix flex items-center rounded-3 pl-5 bg-white text-11pix font-bold
}
.myreferral{
    box-shadow: 4px 4px;
}
.networth{
    @apply absolute right-0 top-2 px-6 border-b-4 w-136pix h-63pix border-blue-200 bg-white
}

/* select option:hover{
    @apply bg-white
} */
    
.active {
    @apply bg-bodyColor text-bodyColors py-2
}
.active img{
     filter: invert(52%) sepia(53%) saturate(6701%) hue-rotate(329deg) brightness(100%) contrast(101%);
};
::selection{
    background: white;
    color: black;
    /* outline: none; */
}
select option:hover{
    background-color: white;
    color: red;
    /* outline: none; */
}
select option {
    margin: 40px;
    background: white;
    /* background: rgba(0, 0, 0, 0.3); */
    /* color: red; */
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.tPage4 td{
    @apply pb-5
}
.tPage4 td::first-line{
    @apply pt-5
}

.tPage4 input, select{
    @apply pl-6
}


.select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
}
.select:focus, .select:hover{
    outline: none;
}

.sidebar ul li b:nth-child(1){
    position: absolute;
    top: -23px;
    height: 23px;
    width: 100%;
    z-index: -1;
    background:  rgb(255 216 220);
    display: none;
}
.sidebar ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 180px;
    background-color: rgb(255 61 81 / var(--tw-bg-opacity));
}
.sidebar ul li b:nth-child(2){
    position: absolute;
    bottom: -23px;
    height: 23px;
    width: 100%;
    z-index: -1;
    background: rgb(255 216 220);
    display: none;
}
.sidebar ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 180px;
    background: rgb(255 61 81 / var(--tw-bg-opacity));
}
ul li.active b:nth-child(1),
ul li.active b:nth-child(2){
    display: block;
}

.page7Table table .AMo {
    @apply pr-6
}
.page7Table table td{
    @apply pl-4
}

.page7Table table .pA{
    @apply pr-20
}
/* #hamburger, .toggle-menu{
    position: absolute;
    margin-left: 20px;
} */
/* #toggle input:checked ~ #overlay{ */
    /* opacity: 1; */
    /* display: block; */
/* } */
@media (max-width: 460px){
    .navside, .bodyContent{
            @apply  w-full ml-0 pr-10
        }
        
        .myreferral, .networth{
            @apply relative m-auto
        }
        .myreferral{
            @apply left-0 w-full
        }
        .myreferral .img-r{
            @apply  pl-6
        }
        .navside p, .navside span, .navside select{
            display: none;
        }

        #overlay{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: none;
        }
    aside{
            display: none;
            width: 50%;
            z-index: 1;
            /* overflow: hidden; */
        }
        /* .navside img{
            @apply w-5 h-5
        } */
    }
    /* .navside input:checked + aside{
        display: block;
    }
    
    
}
/* .switcher{
    @apply flex items-center justify-center
}
.switch{
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 25px;
} */
/* .switch input{
    appearance: none;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    /* background: #1E1E1E; */
    /*background: #ffffff;
    border: 2px solid red;
    outline: none;
} */
/* .switch input::before,
.switch input::after{
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
} */
/* .switch input::before{
    content: "ON";
    left: 10px;
}
.switch input::after{
    content: "YES";
    right: 10px;
}

.switch input:checked{
    background: #ffffff;   
    color: #000000;
}
.switch input:not(:checked){ */
    /* background: #1E1E1E;     */
  
    /* background-color: #ff9800;
    color: #ffffff;
    transition: background-color 0.4s;
}
.switch label{
    z-index: 1;
    position: absolute; */
    /* top: 10px; */
    /* bottom: 4px; */
    /* border-radius: 20px;
}
.switch input{
    transition: .25s;
} */
/* .switch input:checked::after,
.switch input:checked::before{
    color: #000000;
    transition: color .5s;
} */
/* .switch input:checked+label{ */
    /* left: 10px; */
    /* right: 50px; */
    /* background: #1E1E1E; */
    /* background: #000000;
    transition: left 0.5s, right 0.4s 0.2s; */
/* } */
/* .switch input:not(:checked)::before{
    color: #ffffff;
    transition: color 0.5s;
}
.switch input:not(:checked)::after{
    color: #1E1E1E;
    transition: color .5s .2s;
}
.switch input:not(:checked)+label{
    left: 50px;
    right: 10px;
    background: #ff9800;
    transition: left .4s .2s, right .5s, background .35s;
} */
